{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}

{% block content %}

  <div class="main">
    <h1>My Tennis Club</h1>
    <div class="meio">
    <p>Seja você um entusiasta experiente ou alguém que está apenas começando sua jornada no mundo do tênis, estamos emocionados em recebê-lo no My Tennis Club. Aqui, no coração da nossa comunidade, celebramos a paixão pelo esporte, promovemos a amizade e criamos momentos memoráveis em quadra.</p>
   </div>
   <div id="imagem">
    <img src="https://static.vecteezy.com/system/resources/previews/006/044/496/non_2x/set-of-tennis-logos-emblems-badges-labels-and-design-elements-free-vector.jpg" alt="" width="200px">
   </div>

    <h3>Membros</h3>
  
    <p>Confira todos os nossos <a href="members/">membros</a></p>

    <footer class="footer-content" >
      <strong>
        Rua 1 nº 1 Recife Pernambuco - PE CEP: 00000 - 001 <br>
        Fone: (81) 99999-9999 - contato@mytennisclub.com.br
      </strong>
    </footer>
  </div>
{% endblock %}